Pods
ArchitectureProposal-V1.xcodeproj/xcuserdata
ArchitectureProposal-V1.xcworkspace
access_control.balance.mx
access_control.control.mx
access_control.write.mx
default1.realm.lock
ArchitectureProposal-V1.xcscheme
xcschememanagement.plist
contents.xcworkspacedata
